dotNet/CoD/CoD-Client-Test/Service References/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50828/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50828/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_isConnectionOK_InputMessage">
    <wsdl:part name="parameters" element="tns:isConnectionOK" />
  </wsdl:message>
  <wsdl:message name="IUserService_isConnectionOK_OutputMessage">
    <wsdl:part name="parameters" element="tns:isConnectionOKResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getListUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getListUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_getListUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/addUser" message="tns:IUserService_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/addUserResponse" message="tns:IUserService_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isConnectionOK">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/isConnectionOK" message="tns:IUserService_isConnectionOK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/isConnectionOKResponse" message="tns:IUserService_isConnectionOK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getListUsers" message="tns:IUserService_getListUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getListUsersResponse" message="tns:IUserService_getListUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isConnectionOK">
      <soap:operation soapAction="http://tempuri.org/IUserService/isConnectionOK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/getListUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:50828/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>