dotNet/CoD/UnitTestProject/Service References/PaymentServiceReference/PaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50828/PaymentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50828/PaymentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentService_getMyBills_InputMessage">
    <wsdl:part name="parameters" element="tns:getMyBills" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_getMyBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMyBillsResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_addPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:addPayment" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_addPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_getListPayments_InputMessage">
    <wsdl:part name="parameters" element="tns:getListPayments" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_getListPayments_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListPaymentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentService">
    <wsdl:operation name="getMyBills">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/getMyBills" message="tns:IPaymentService_getMyBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/getMyBillsResponse" message="tns:IPaymentService_getMyBills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/addPayment" message="tns:IPaymentService_addPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/addPaymentResponse" message="tns:IPaymentService_addPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListPayments">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/getListPayments" message="tns:IPaymentService_getListPayments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/getListPaymentsResponse" message="tns:IPaymentService_getListPayments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaymentService" type="tns:IPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMyBills">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/getMyBills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPayment">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/addPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListPayments">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/getListPayments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port name="BasicHttpBinding_IPaymentService" binding="tns:BasicHttpBinding_IPaymentService">
      <soap:address location="http://localhost:50828/PaymentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>